html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  overflow: hidden;
  display: flex;
}

body::before { /* fondo */
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("img/Fondo2.webp");

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  background-attachment: fixed;

  opacity: 0.6;

  z-index: -1;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* Fondo específico para la página about */
body.fondo-about::before {
  background-image: url("img/Contact2-10.webp");
}

.menu {
  position: relative;
  height: 100vh;
  width: 160px;
  max-width: 160px;
  margin: 0 20px;
  padding-top: 40px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 2px 0 30px rgba(0, 0, 0, 0.2);
}

/* Logo */
.ordenador {
  display: block;
  width: 150px;
  height: auto;
  margin: 30px 0;
}

/* Logo */
.tablet-movil {
  display: none;
}

.menu a:first-child {
  margin: 0;
  padding: 0;
  height: auto;
}

.menu a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  display: block;
  margin: 10px 20px;
}

.menu a:hover {
  text-decoration: underline;
}

.slider {
  margin-top: 10vh;
  height: 80vh;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: 2px 0 30px rgba(0, 0, 0, 0.3);
}

/* Ocultar barra de scroll */
.slider::-webkit-scrollbar {
  display: none;
}

.slider a,
.slider div {
  height: 80vh;
  width: auto;
  flex-shrink: 0;
  box-shadow: 2px 0 30px rgba(0, 0, 0, 0.6);
}

.slider > :last-child {
  margin-right: 20px;
}

.slider a img,
.slider div img,
.slider div video {
  display: block;
  height: 100%;
  max-width: 100%;
  width: auto;
}

.slider .card {
  width: 350px;
  font-family: Helvetica, sans-serif;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

 /* Tarjeta de texto única del about */
.card-about {
  width: auto;
  height: 80vh;
  min-height: fit-content;
  margin-top: 10vh;
  margin-right: 20px;
  padding: 0 30px;
  font-family: Helvetica, sans-serif;
  background-color: rgba(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-contact{
  position: fixed;
  top: 48%;
  left: 62%;
  transform: translate(-50%, -50%);
}

.text-contact a{
  display: block;
  width: 240px;
  height: 25px;
}

/* Tablet y móvil */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .menu {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    max-width: none;
    height: 60px;
    margin: 0;
    padding: 0 55px;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 10;
  }

  /* Logo */
  .ordenador {
    display: none;
  }

  /* Logo */
  .tablet-movil {
    display: block;
    width: auto;
    height: 50px;
    margin-right: 10px;
  }

  .menu a {
    font-size: 20px !important;
    height: 30px;
    align-content: center;
    padding: 0 5px;
    font-size: 17px;
    margin-right: 35px;
    margin-bottom: 0 !important;
  }

  .slider {
    flex-direction: column;
    height: calc(100vh - 90px);/* -altura menu y altura padding */
    gap: 30px;
    margin-top: 60px;
    padding: 30px 50px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: none;
  }

  .slider a,
  .slider div {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
  }

  .slider > :last-child {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .slider a img,
  .slider div img,
  .slider div video {
    width: 100%;
    height: auto;
  }

  .slider .card {
    width: auto;
    min-height: 400px;
    padding: 15px;
  }

  /* Tarjeta de texto única del about */
  .card-about {
    margin: 90px 50px;
    padding: 0 30px;
  }

  .text-contact{
    left: calc( 78%  - 10% );
  }

  .text-contact a{
    width: 180px;
    height: 21px;
  }
}

/* Móvil pequeño */
@media (max-width: 480px) {
  /* Fondo específico para la página about en movil*/
  body.fondo-about::before {
    background-image: url("img/CONTACTMOVIL-12.webp");
  }

  .menu {
    padding: 0 20px;
  }

  .menu a {
    font-size: 15px !important;
    margin-right: 0;
  }

  /* Logo */
  .tablet-movil {
    margin: 0;
    height: 30px;
  }

  .slider {
    height: calc(100vh - 80px);
    padding: 20px;
    gap: 20px;
  }
  .slider .card {
    padding: 10px;
  }

  /* Tarjeta de texto única del about */
  .card-about {
    margin: 80px 20px;
    padding: 0 30px;
  }

  .text-contact{
    left: 50%;
  }
}
